:root {
    --color-fondo: #FBF0DC;
    --color-primario: #5B1647;
    --color-secundario: #93063E;
    --color-terciario: #C90035;
    --cuarto-color: #FF5627;
    --quinto-color: #FFC400;
}

.lista-compras {
    display: flex;
    flex-direction: column;
    margin: 15px;
    width: 80%;
    height: 550px;
    border-top: 2px solid var(--color-terciario);
    border-bottom: 2px solid var(--color-terciario);
    padding: 1%;
    list-style: none;
    overflow: auto;
}

.lista-compras li {
    padding: 10px;
    margin: 5px;
    border: 1px solid var(--color-terciario);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    border-radius: 10px;
}

