:root {
    --color-fondo: #FBF0DC;
    --color-primario: #5B1647;
    --color-secundario: #93063E;
    --color-terciario: #C90035;
    --cuarto-color: #FF5627;
    --quinto-color: #FFC400;
}

.filtros {
    display: flex;
    flex-direction: column;
}

.filtro-input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#filtro-nombre {
    padding: 10px;
    margin: 10px;
    color: white;
    background-color: var(--color-terciario);
    border-radius: 25px;
    border-style: none;
    text-align: center;
    /* Centra el texto horizontalmente */
    box-shadow: 5px 5px 5px gray;
}

#filtro-nombre::placeholder {
    color: white;
}

.filtro-select {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 10px;
    padding: 5px;
}

#filtroTipo,
#filtroMarca,
#filtroTipoCompra,
#filtroEstadoCompra,
#buttonFiltrar {
    color: white;
    margin: 5px;
    padding: 10px 15px; /* Unifica el padding para consistencia */
    border-radius: 15px;
    border-style: none;
    box-shadow: 3px 3px 3px gray; /* Sombra más sutil para botones de filtros */
}

.div-buttonFiltrar {
    display: flex;
    justify-content: center;
}

#buttonFiltrar {
    background-color: var(--color-terciario);
}

#filtroTipo, #filtroEstadoCompra {
    background-color: var(--color-secundario);
}

#filtroMarca, #filtroTipoCompra {
    background-color: var(--cuarto-color);
}

#añadirProductos, #acreditarVenta {
    margin: 10px;
    padding: 10px 15px; /* Padding unificado */
    background-color: var(--color-primario);
    justify-content: center;
    display: flex;
    width: 40%;
    border-style: none;
    border-radius: 25px;
    box-shadow: 5px 5px 5px gray;
}

#añadirProductos p, #acreditarVenta p {
    color: white;
    text-align: center;
    margin: 5px;
    /* Asegura que no haya margen extra que pueda afectar el centrado */
}

/* Transiciones y efectos hover */
button:hover {
    background-color: darken(var(--color-primario), 10%);
    transform: scale(1.05);
    transition: all 0.3s ease;
}

@media only screen and (max-width: 1290px) {
    #añadirProductos {
        width: 20%;
    }
}

@media only screen and (max-width: 500px) {
    #añadirProductos {
        width: 40%;
    }

    #añadirProductos, #acreditarVenta {
        margin: 5px; /* Ajustes para pantallas pequeñas */
        padding: 10px;
    }
}
