:root {
  --color-fondo: #FBF0DC;
  --color-buttons: #e8dfd2;
  --color-primario: #5B1647;
  --color-secundario: #93063E;
  --color-terciario: #C90035;
  --cuarto-color: #FF5627;
  --quinto-color: #FFC400;
}

.productos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Centra verticalmente */
  align-items: center;
  /* Centra horizontalmente */
  width: 100%;
  height: 80%;
  padding: 10px;
}

.lista-productos {
  margin: 2%;
  width: 90%;
  height: 100%;
  border-top: 2px solid var(--color-terciario);
  padding: 1%;
  list-style: none;
  overflow-y: auto;
}

.lista-productos li {
  margin-bottom: 3px;
}


.producto {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 5px;
  background-color: white;
  border: 1px solid var(--color-secundario);
  border-radius: 5px;
}

.producto-titulo {
  display: flex;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-bottom: 3px dotted gray; 
  padding-bottom: 5px; /* Espacio entre texto y borde */
  margin-bottom: 15px; /* Espacio debajo del título */
  line-height: 1.2; /* Altura de línea */
  text-transform: uppercase; /* Mayúsculas */
  letter-spacing: 1px; /* Espacio entre letras */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Sombra de texto */
}

.producto-caracteristicas{
  font-family: 'Courier New', Courier, monospace;
}

.exclamation-button{
  font-size: 24px;
  margin: 15px;
  color: var(--color-terciario);

}
.producto-buttons{
  display: flex;
  justify-content: center;
}

.producto-buttons a{
  border-style: none;
  border-radius: 50%;
  margin: 5px;
  padding: 5px;
  background-color: var(--cuarto-color);
  color: var(--color-fondo);
}

.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.popup-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--color-terciario);
  background-color: var(--color-fondo);
  border-radius: 10px;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.popup a{
  padding: 5px;
  border-radius: 5px;
  background-color: var(--color-buttons);
  color: var(--color-primario);
  text-decoration: none;
}
