:root {
    --color-fondo: #FBF0DC;
    --color-primario: #5B1647;
    --color-secundario: #93063E;
    --color-terciario: #C90035;
    --cuarto-color: #FF5627;
    --quinto-color: #FFC400;
}

.openbtn{
    font-size: 36px;
    color: var(--color-primario);
    background-color: white;
}

.closebtn{
    color: var(--color-terciario);
}

.sidebar {
    background-color: white;
    box-shadow: 3px 3px 1px var(--color-secundario);
    border-radius: 15px;
}

.nav-tabs{ 
    justify-content: center
}

.nav-item{
    margin: 5px;
    background-color: white;
}

.nav-item button{
    border-radius: 10px;
    border-style: none;
    color: var(--color-terciario);
}
