:root {
    --color-fondo: #FBF0DC;
    --color-primario: #5B1647;
    --color-secundario: #93063E;
    --color-terciario: #C90035;
    --cuarto-color: #FF5627;
    --quinto-color: #FFC400;
}

.boton-venta{
    display: flex;
    align-items: center;
    justify-content: center;
}

.lista-ventas {
    margin: 2%;
    width: 80%;
    height: 550px;
    border-top: 2px solid var(--color-terciario);
    border-bottom: 2px solid var(--color-terciario);
    padding: 1%;
    list-style: none;
    overflow: auto;
}

.lista-ventas li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border: 1px solid var(--color-terciario);
    border-radius: 10px;
    background-color: white;
}

.lista-ventas a {
    padding: 3px;
    color: var(--color-primario);
    text-decoration: underline;
    text-underline-offset: 3px; /* Ajusta el valor según el espacio que desees */
}

.modal-venta-unitaria {
    margin-top: -10px;
    margin-bottom: 50px;
    display: none;
    width: 100%;
    height: 23%;
}

.modal-venta-unitaria-medio {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border-top: 2px solid var(--color-terciario);
    width: 85%;
    max-width: 400px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 2px gray;
}

/*
    modal-venta
*/

.modal-venta {
    list-style: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    margin-top: -20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    width: 80%;
    height: 80%;
    display: none; /* Inicialmente oculto */
    overflow: auto; /* Permite scroll si es necesario */
}
.modal-venta-titulo{
    text-transform: uppercase; /* Mayúsculas */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
}

.modal-venta a{
    font-size: 25px;
    margin-top: 8px ;
    padding: 2px;
    border-radius: 5px;
    width: 35%;
    color: var(--color-primario);
    text-decoration: none;
}


.modal-venta.show {
    display: block; /* Mostrar el modal cuando se agregue la clase 'show' */
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none; /* Inicialmente oculto */
}

.modal-overlay.show {
    display: block; /* Mostrar el overlay cuando se agregue la clase 'show' */
}

